
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Lato&family=Lora&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Lato&family=Lora&display=swap');

body{
  background-color: #000;
  margin: 0px;
}

  
header{
  position: relative;
  width: 0vw;
  height: 80px;
  border-bottom: 20vh solid transparent;
  border-right: 100vw solid lightgray;
  margin-top: -20px;
  z-index: 1;
  
}
footer{
  position: relative;
  width: 0vw;
  height: 50px;
  border-bottom: 20vh solid transparent;
  border-right: 100vw solid lightgray;
  margin-top: 100px;
  rotate: 180deg;
  bottom: 0px;
}
footer .hor, footer .rotateLeft {
  animation-delay: 1s;
}
footer #contact {
  rotate: 180deg;
  color: white;
  position: relative;
  bottom: 0px;
  right: -50vw;

}
#socialMediaLogos img{
  width: 40px;
  height: 40px;
  background-color: white;
  margin: 15px;
}
#socialMediaLogos {
  display: flex;
  position: relative;
  left: 25vw;
}
#linkedInLogo {
  width: 150px;
  height: 50px;
  position: relative;
  right: 30vw;
  top: 60px;
}
#contact h4 {
  position: relative;
  top: 120px;
  width: 200px;
  right: 100px;
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: 'Lato', sans-serif ;

}



#navigation{
  font-family: "Bungee Hairline", sans-serif;
  color:white;
  z-index: 2;
}
#navigation ul{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  flex-direction: row;
  width: 88vw;
  position: relative;
  top: 10px;
}
#navigation ul li a:hover {
  color: gray;
  background-position: -100% 0;
  font-weight: bolder;
  
  
}
#navigation ul li a:active{
  color:white;
  scale: 1.2;
}
#navigation ul li a {
  color: black;
  font-size: 20px;
  display: block;
  pointer-events: auto;
  z-index: 2;
  transition: background-position 1s ease;
  background-size: 200% 100%;
  /* background-image: linear-gradient(to right, lightgray, white); */
  background-repeat: no-repeat;
  text-decoration: none;
  background-clip: text;
  font-weight: bolder;
}

#navigation ul li {
  transition: background-color 0.3s;
  height: 10px;
  width: auto;
}

.hor {width: 100px;
  height: 5px;
  background-color:black;
  margin:50px;
  position: absolute;
  right: -98vw;
  top: 5vh;
  scale: .8;
animation: growing2 5s infinite}
.ver {width: 5px;
  height: 100px;
  background-color:black;
  position: relative;
  left: 48px;
  bottom: 96px;}
.rotateLeft {width: 70px;
  height: 5px;
  background-color:black;
  margin:50px;
  rotate: 45deg;
  position: relative;
  top: 46px;
  right: 82px;
  animation: growing 5s infinite}
.rotateRight {width: 5px;
  height: 70px;
  background-color:black;
  position: relative;
  left: 34px;
  bottom: 32px;}

@keyframes growing {
0% { transform: scale(1);opacity:1 }
50% { transform: scale(.8); rotate: 405deg;}
100% { transform: scale(1);opacity:1 }
}

@keyframes growing2 {
0% { transform: scale(1); opacity: .5 }
50% { transform: scale(1.1); opacity: 1; rotate: -180deg;}
100% { transform: scale(1); opacity: .5}
}

main {
  min-height: 100vh;
}
#gamepage{
  display: flex;
  justify-content: space-evenly;
  width: 100vw;

}
#gameSideBar{height: auto;
width: 200px;
position: relative;
top: 30px;
text-align: center;
font-family: 'Syne', sans-serif;
background-color: lightgray;
border: white 5px solid;
color: black;
text-decoration: underline;
}
#gameSideBar a {
  color: black;
  font-size: 12px;
}
#gameSideBar ul, #gameSideBar li{
  list-style-type: none;
  text-align: center;
  margin: 20px auto;
}
#gameSideBar a:hover{
  color: gray;
}
#gameSideBar ul{
  margin-right: 30px;
}
#gameSideBar div{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#gameSideBar div button {
  height: 20px;
  margin: auto auto;
  text-decoration: none;
  background-color: #000;
  color: white;
}
#gameSideBar div button:active{
  background-color: white;
  color: #000;

}

#gamedisplay{
  background-color: 222;
  width: 80%;
  height: auto;
  margin: 20px 20px;
  text-align: center;
  font-family: 'Syne', sans-serif;
  font-weight: bolder;
  color: white;
}

.game-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  font-family:"Bungee Hairline", sans-serif;
}

.game-card{
  width: 100%;
  height: 100%;
  list-style: none;

}
.game-card img{
  width: 75%;
  height: 75%;
  border: white solid 2px;
}

.game-list li {
  text-decoration: none;
  color: white;
  background-color: #222;
  text-align: center;
  margin-bottom: 20px;
  transition: background-color 2s ease;
  z-index: 2;
}
.game-list li a {
  color: white;
  text-decoration: none;
}
.game-list li a:hover {
  color: #222;
}
.game-list li:hover{
  background-color: white;
  color: #222;

}

.addToFavorites{
  transition: text-decoration 2s ease;
  text-decoration: none;
}
.addToFavorites:hover{
  text-decoration: underline;
}
.addToFavorites:active{
  scale:1.4;
}

.gamecard_name {
  font-size: 1.4em;
}

#game{
z-index: 5;
height: 80vh;
width: 80vw;
margin: 50px auto;
margin-bottom: 200px;}

#game table {
  margin-bottom: 50px;
}

.loadingMessage{
  max-width: 80vw;
  text-align: center;
  margin: auto auto;
  margin-top: 50px;
}

.e-loadholder {
  position: absolute;
  top: 100vh;
  left: 70vw;
  margin-top: 220px;
}

.graphic-list{
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.graphic-card{
  background-color: white;
  color: #000;
  width: 550px;
  margin: auto auto;
  margin-bottom: 50px;
}
#graphicDesignDisplay{
  color: white;
  text-align: center;
}
#graphicDesignDisplayHeader{
  font-size: 48px;
  font-family: 'Syne', sans-serif;
}
.graphiccard_name h1{
  font-size: 14px;
  font-family: 'Syne', sans-serif;
}
.pdf-container embed{
  width: 500px;
  height: 600px;
}
#storeMessage{
  font-size: 72px;
  margin: auto auto;
  margin-top: 200px;
  color: white;
  width: 100vw;
  text-align: center;
}




@media (max-width: 1000px) {
  #navigation ul li a {
    font-size: 16px; /* Adjust the value as desired */
    margin: 20px;
    font-weight:bolder;
  }
  .graphic-list{
    color: white;
    display: grid;
    grid-template-columns: 1fr;
  }
  .graphic-card{
    margin-top: 40px;
  }

  #navigation ul {
    top: -10px;
    left: 0px;
  }


#hor{
  right: -98vw;
  top: 8vh;
}

.game-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  font-family:"Bungee Hairline", sans-serif;
}

footer .hor, footer .rotateLeft {
  animation-delay: 1s;
}
footer #contact {
  rotate: 180deg;
  color: white;
  position: relative;
  bottom: 0px;
  right: -50vw;

}
#socialMediaLogos img{
  width: 30px;
  height: 30px;
  background-color: white;
  margin: 15px;
}
#socialMediaLogos {
  display: flex;
  position: relative;
  left: 25vw;
}
#linkedInLogo {
  width: 100px;
  height: 40px;
  position: relative;
  right: 40vw;
  top: 50px;
}
#contact h4 {
  position: relative;
  top: 110px;
  width: 200px;
  right: 100px;
  text-align: center;
  color: black;
  font-size: 16px;
  font-family: 'Lato', sans-serif ;

}
}

@media (max-width: 640px) {
  .pdf-container embed{
    width: 80%;
    height: 400px;
  }
  .graphic-card{
    background-color: white;
    color: #000;
    width: 80%;
    margin: auto auto;
    margin-top: 50px;
  }

  #navigation ul li a {
    font-size: 14px; /* Adjust the value as desired */
    margin: 10px;
  }

  #navigation ul{
    top: 0px;
    left: -30px;
  }
  #gameSideBar{display: none;}

  .game-list{
    display: grid;
    grid-template-columns: 1fr;
    font-family:"Bungee Hairline", sans-serif;
  }

  #gamedisplay{
    font-size: 16px;
  }

  .game-card img{
    width: 50%;
    height: 50%;
    border: white solid 2px;
  }
}


@media (max-width: 480px){
  #socialMediaLogos img{
    width: 20px;
    height: 20px;
    background-color: white;
    margin: 15px;
  }
  #socialMediaLogos {
    display: flex;
    position: relative;
    left: 25vw;

  }
  #linkedInLogo {
    width: 80px;
    height: 25px;
    position: relative;
    right: 40vw;
    top: 30px;
  }
  .scale{
    scale: .8;
  }
  #hor{
    right: -50vw
  }
}